<div class="box-wrapper" *ngIf="shoppingCardIsEmpty">

    <div class="box-inner">
        <div>
          <div class="box-inner__name box-inner__title">Наименование товара и описание</div>
          <div class="box-inner__count box-inner__title">Количество</div>
          <div class="box-inner__price box-inner__title">Цена</div>
          <div class="box-inner__action box-inner__title"></div>
        </div>

        <div class="box-inner__body" *ngFor="let product of shoppingCard | keyvalue; trackBy: trackByFn">
          <div class="box-inner__name">{{product.value.goodsName}}</div>
          <div class="box-inner__count"><input class="box-inner__count-input" type="text" [value]="product.value.count" (keyup)="checkAvailableCount(+$event.target.value, product.value)"></div>
          <div class="box-inner__price">{{product.value.price}}</div>
          <div class="box-inner__action"><a href="#" (click)="deleteProduct($event, product.key)">Удалить</a></div>
        </div>
    </div>

    <div class="total-price">
      <h4>Общая стоимость {{totalAmount}} руб.</h4>
    </div>
</div>
